[2017-12-19 12:26] Arteg0r opened #1 "Формулируем концепт с учетом дальнейшей интеграции с Operation mode на Minecraft"
Формулируем концепт с учетом дальнейшей интеграции с Operation mode на Minecraft

Результатат итерации по задаче:
- гуглодок концепта
- дорисованную [доску](https://github.com/u-transnet/GameStratMode/projects) (это роадмап и есть)
- гуглокнига с фин-потоком для комментариев и дополнений.

Cсылки на концепт и книгу прям в комментах указываем в кач-ве результата.

[2017-12-19 13:16] cptn-solo commented on #1
@Arteg0r
BLOCK #22785994
TRANSFER |  
From | arteg0r
To | utd-architect-game
Quantity | 210.00000 UTDEV.SKILL

[2017-12-23 06:16] Arteg0r commented on #1
- [Концепция игры TRANSNET SPACE](https://docs.google.com/document/d/11Sk2VMlI0M9kjpFsFv1ZITH34eyoFcKSbHnLl5fOxFE/edit?usp=sharing)

- [Роадмап](https://github.com/u-transnet/Gamedev/projects/1)

- [Бюджет gamedev направления](https://docs.google.com/spreadsheets/d/17fOWK0LxWQHG8FAjshb8tqj10NYhc5Kip23snnNRGTI/edit?usp=sharing)

[2017-12-23 08:11] cptn-solo commented on #1
@Arteg0r по бюджету - давай раскидаем на полгода финансовый поток по аналогии с основным бюджетом - и закрываем итерацию, уходим на следующую

[2017-12-25 04:08] alecvert commented on #1
@Arteg0r @kkrupovich с документом и дорожной картой подробно ознакомился. Весьма положительное мнение. Все обсуждения и комментарии к документу чуть позже. В начале ждем бюджет для того, чтобы запустить данное направление.

[2017-12-25 19:04] Arteg0r opened #2 "Координация работ по игровому направлению"
- найм геймдизайнеров (сформулировать вакансии и звести задачи под них)

- организация работ по описанию глобальной концепции (максимальная/визионерская концепция). Исполнитель - предположительно Дима

- исследовать стратегические движки. Результат - аналитическая записка со списком вариантов, списком источников информации

- исследовать комьюнити модмейкеров Minecraft, результат - аналитическая з

[2017-12-25 21:00] Arteg0r commented on #2
BLOCK #22967365
TRANSFER |
From | arteg0r
To | utd-architect-game
Quantity | 350.00000 UTDEV.SKILL

Работы до 29 декабря 2017 включительно

[2017-12-25 21:05] cptn-solo commented on #2
@Arteg0r

ссылки на задачи под найм можно будет в комментах бахнуть по мере их создания

Тоже можно подготовить задачу, и как найдем исполнителя - назначим (ссылку на задачу сюда тоже добавим)

спайк надо создать, и сюда ссылку на него. (лейбл question)

[2017-12-25 21:07] cptn-solo commented on #1
@Arteg0r @alecvert

BLOCK #22965032
TRANSFER |  
From | utd-architect-game
To | arteg0r
Quantity | 210.00000 UTDEV

Закрываем, уходим на #2

[2017-12-25 21:07] #1 closed, assigned to Arteg0r

[2017-12-30 14:37] Arteg0r commented on #2
1. Первоначально я собирался разделить работы между двумя специалистами таким образом, чтобы каждый получил в разработку один игровой режим (а их, напомню, два - стратегический и операционный). В ходе работы над вакансиями я осознал, что мне придется нагрузить вполне сформулированными задачами двух специалистов. А ведь в текущий момент еще на концептуальном уровне остается масса вопросов.

 Поэтом

[2017-12-30 15:38] cptn-solo commented on #2
@Arteg0r

BLOCK #23102771
CREATE PROPOSAL |  
Proposed operations | Transfer 350.00000 UTDEV from utd-architect-game to arteg0r
BLOCK #23102803
Active approvals to add | cptn-solo
BLOCK #23102795
Active approvals to add | arteg0r

Спасибо!

[2017-12-30 15:38] #2 closed, assigned to Arteg0r

[2018-01-09 10:37] Arteg0r opened #3 "Координация работ по игровому направлению"
Коллеги @kkrupovich @nat-brit !

Предыдущий отчет [тут](https://github.com/u-transnet/Gamedev/issues/2)

Эта итерация короткая  - возьму 3 дня, на 40%. Я, как и Костя, приглядываю за мелким. В этом спринте я планирую:

- распространить информацию о вакансии геймдизайнера (объявления в соцсетях, группа "вакансии геймдев" в вк, через личные обращения к знакомым)
- концепция верхнего уровня (максимал

[2018-01-09 23:00] cptn-solo commented on #3
@Arteg0r полагаю, можно закидывать скилл, до конца выходных.
Единственное, вакансию я бы все же зафиксировал по аналогии (в info есть задачи, тэг HR + проект (формирование команды)

[2018-01-10 07:33] Arteg0r commented on #3
@kkrupovich Да, Костя, зафиксировать вакансию по нашим правилам - часть задачи.

[2018-01-10 07:50] Arteg0r commented on #3
BLOCK #23408293
TRANSFER |
From | arteg0r
To | utd-architect-game
Quantity | 210.00000 UTDEV.SKILL

Работы до 12 января включительно

[2018-01-13 17:02] Arteg0r commented on #3
Коллеги @kkrupovich @nat-brit

Делюсь промежуточными итогами, задачу не закрываю. Мне нужно подзарядить свою концептуальную пушку :) К понедельнику подготовлю отчет по задаче, тогда же ее и закроем.

- мероприятия по продвижению [вакансии](https://github.com/u-transnet/info/issues/53) я решил осуществлять в понедельник, чтобы получить больше внимание френдлент, чем его бывает в конце недели перед

[2018-01-13 22:57] cptn-solo commented on #3
@Arteg0r

[Планирую](https://github.com/u-transnet/info/issues/52) в понедельник тоже заняться вакансиями, кстати. И не забывайте про то, что готов [перевод](https://github.com/u-transnet/info/issues/55) fullstack веб-разработчика и его тоже можно ~~шлифовать и~~ куда-то пристраивать

[откомментил](https://docs.google.com/document/d/1hEZpQv4krcDdwHqq5cmnS7xWYwi7iq91ldSoja76HFw/edit?disco=AAAABcrUc

[2018-01-16 20:33] Arteg0r commented on #3
Коллеги, @kkrupovich @nat-brit , предлагаю завершать данную итерацию. Итоги по ней:

- [Вакансия](https://github.com/u-transnet/info/issues/53) расшарена, собираю фидбек от первых кандидатов. Установлена связь с Ильей, кандидат @alecvert . Собираюсь опубликовать вакансию на [app2top](http://app2top.ru/).
- Кто еще не видел, [Обзор стратегических движков](https://docs.google.com/document/d/1hEZpQv4

[2018-01-16 23:34] cptn-solo commented on #3
@Arteg0r

немного добавил в документ, потом поймал себя на том, что начал углубляться в экономику и политику игры. Понял, что нужно идти в Концепцию и править/добавлять там. Открыл концепцию, и закрыл концепцию :)

мне кажется, что если по крайней мере наш собственный оригинальный бранч назвать transnet expanse - и у нас будет столько планет, астероидов, станций и звездных систем с разными генезис

[2018-01-17 00:15] cptn-solo commented on #3
@Arteg0r

BLOCK #23599999

CREATE PROPOSAL |  Expiration time | January 18, 2018, 3:09:53 AM
Proposed operations | Transfer 210.00000 UTDEV from utd-architect-game to arteg0r

@Arteg0r  @nat-brit @alecvert транзакция ожидает подтверждения на **utd-architect-game**

Надо следующую задачу с этой связать обязательно

[2018-01-17 12:15] Arteg0r opened #4 "Координация работ по игровому направлению №3 (15-19.01)"
@kkrupovich @nat-brit

Предыдущая задача [здесь](https://github.com/u-transnet/Gamedev/issues/3)

В эту итерацию я собираюсь взять 4 дня по 40% (с вашего позволения, включу в один из них все коммуникации за понедельник и вторник) для следующих дел:
- отбора и собеседования кандидатов на вакансию Ведущий геймдизайнер. **На выходе**: решение по имеющимся в наличии кандидатам.
- продолжить уточнение

[2018-01-18 11:50] Arteg0r commented on #4
BLOCK #23642076
TRANSFER |
From | arteg0r
To | utd-architect-game
Quantity | 280.00000 UTDEV.SKILL

Работы на неделе 15-19 января, 4 дня. Отчет по задаче - к 21 января.

[2018-01-18 11:52] #3 closed, assigned to Arteg0r

[2018-01-18 12:01] cptn-solo commented on #4
@Arteg0r предлагаю как-то нумеровать задачи (может, номер недели использовать, или просто номер по порядку, как мы втыкали - "Итерация N.  бла бла бла"?)

[2018-01-23 13:56] Arteg0r commented on #4
@kkrupovich @nat-brit

Итак, коллеги, итерация несколько растянулась из-за наплыва соискателей )

Ее итоги:
- Получены и рассмотрены заявки от 9 соискателей на должность ведущего геймдизайнера.  Проведены 3 собеседования, одна заявка отклонена до собеседования. На текущий момент выделил для себя одного сильного кандидата. План на ближайшую итерацию: проведу 4-5 собеседований, к началу следующей не

[2018-01-24 10:21] cptn-solo commented on #4
@Arteg0r @nat-brit коллеги, транзакция ожидает подтверждения на учетке **utd-architect-game**:

BLOCK #23812582

CREATE PROPOSAL |  
-- | --
Expiration time | January 25, 2018, 1:20:07 PM
Proposed operations | Transfer 280.00000 UTDEV from utd-architect-game to arteg0r

[2018-01-24 19:15] #4 closed, assigned to Arteg0r

[2018-01-25 11:21] Arteg0r opened #5 "Подбор сотрудника на должность Ведущий геймдизайнер"
@kkrupovich @nat-brit

Предыдущая задача [здесь](https://github.com/u-transnet/Gamedev/issues/4)

Коллеги, сейчас занимаюсь только собеседованиями и изучением материалов, предоставленных соискателями. Закладываю на это три дня - 24-25-26. О других задачах сообщу отдельно.

Выбор кандидата (или даже двух) сделаю в начале следующей недели.

[2018-01-25 11:28] Arteg0r commented on #5
BLOCK #23842607
TRANSFER |
From | arteg0r
To | utd-architect-game
Quantity | 210.00000 UTDEV.SKILL

Решение по выбору кандидата (-ов) сделаю 29 января.

[2018-01-30 12:39] Arteg0r commented on #5
Коллеги @kkrupovich @nat-brit

Отобраны два кандидата:

- Алексей Постников (19 лет в геймдизайне и продюсировании игр, город Калининград)
- Павел Кондрашов (15 лет в геймдизайне, город Краснодар)

[Вакансию ](https://github.com/u-transnet/info/issues/53) закрыл.

Прошу подтвердить закрытие итерации.

[2018-01-30 15:39] Arteg0r opened #6 "Координация работ по игровому направлению №4"
@kkrupovich @nat-brit

[Поиск геймдизайнеров завершился тут](https://github.com/u-transnet/Gamedev/issues/5)

Задачи на 30, 31 января (сжигаю остаток скила с нагрузкой 40%):

- обсудить с Костей вопросы по требованиям к прототипу
- менеджмент учеток и токенов для игрового направления, ликбез Кости
- инструктаж новых сотрудников по схеме работы, опрерациям в блокчейне, заведение необходимых учеток,

[2018-01-31 03:22] cptn-solo commented on #6
@Arteg0r @nat-brit

Надо будет вместе подумать про токены направлений. Мы с @Arteg0r близко подобрались к решению вопроса, но не решились :)

@alecvert  вернешься - с тобой вместе решим.

[2018-01-31 03:33] cptn-solo commented on #5
@Arteg0r @nat-brit @alecvert предложил транзакцию на **utd-architect-game**
BLOCK #24005433

CREATE PROPOSAL |  
-- | --
Expiration time | February 1, 2018, 6:32:54 AM
Proposed operations | Transfer 210.00000 UTDEV from utd-architect-game to arteg0r

[2018-01-31 06:59] nat-brit commented on #6
@kkrupovich  Запланируй, плиз, созвон по этому поводу, этот вопрос хорошо бы обсудить побыстрее.

[2018-01-31 12:25] #5 closed, assigned to Arteg0r

[2018-01-31 16:58] cptn-solo commented on #6
@nat-brit @Arteg0r @alecvert

Созвон это хорошо, но под созвон неплохо бы подготовить варианты, из которых мы вибираем. Это отдельная User Story - как именно лучше токенизировать работу в условиях нескольких инвесторов, нескольких операторов (типа U-Tech) и нескольких исполнителей (типа UT-DEV с токенами UTDEV+SKILL). Поэтому у нас теперь есть [эпик в jira](https://u-trans.atlassian.net/browse/UT-

[2018-01-31 20:09] cptn-solo commented on #5
@cartoonka принят, бюджетная позиция **utd-gamesesign**:
- макс. ставка эквивалент 2500 USD/мес.
- стандартная [схема роста](https://github.com/u-transnet/info/wiki/2.1.-%D0%A0%D0%BE%D1%81%D1%82-%D0%B2-%D0%BA%D0%BE%D0%BC%D0%B0%D0%BD%D0%B4%D0%B5)
- начинаем с 80% - эквивалент 2000USD/мес., эквивалент **100**USD/день

BLOCK #24025410

CREATE PROPOSAL |  
-- | --
Expiration time | February 1, 2018, 1

[2018-01-31 20:36] Arteg0r commented on #5
@Dvarnrock  принят, бюджетная позиция utd-gamesesign:

макс. ставка эквивалент 2500 USD/мес.
стандартная схема роста
начинаем с 80% - эквивалент 2000USD/мес., эквивалент 100USD/день

BLOCK #24025581

CREATE PROPOSAL |  
-- | --
Expiration time | February 1, 2018, 11:23:01 PM
Proposed operations | Transfer 2,000.00000 UTDEV.SKILL from ut-dev to pkondr1979

BLOCK #24025611

UPDATE PROPOSAL  |  
-- |

[2018-02-01 13:37] pkondrashov-ms opened #7 "Обсуждение и питч отобранных идеи игр"
@Arteg0r @cartoonka

Для этой задачи берем по 3 дня на нос. В результате будет:

Проведено обсуждение текущих и новых идей для игр (числом 3 штуки - экономическая стратегия в космосе, минималистическая экономическая стратегия, Craft FP симулятор) с Алексеем и Петром,
Написан питч отобранных идей,
Проведено обсуждение питча с Алексеем и доработка питча по результатам обсуждения.

После представим п

[2018-02-01 13:43] cartoonka opened #8 "Питч проекта №1 StarWay: Asteroid rush"
@Dvarnrock @Arteg0r

Обсудить и написать питч проекта номер 1.

Рабочее название StarWay: Asteroid Rush

В результате:

- Проведено обсуждение потенциальных идей.
- Выделены рабочие гипотезы.
- Превращены в документы.

Ожидаемый результат - питч документ в гуглдоках, ссылка будет добавлена в задачу в конце работ.

Даты работ 1-5 февраля.  Рабочих дней - 3.

[2018-02-01 13:57] cartoonka commented on #8
BLOCK #24046499
TRANSFER |  
From | alexei-postnikov
To | utd-gamedesign
Quantity | 300.00000 UTDEV.SKILL

[2018-02-01 13:59] pkondrashov-ms commented on #7
Block #24046581
Transfer   
From | pkondr1979
To | utd-gamedesign
Quantity | 300.00000 UTDEV.SKILL

[2018-02-01 14:46] pkondrashov-ms commented on #7
По третьей идее требует черновик питча для дальнейшего обсуждения.

[2018-02-02 13:01] Arteg0r commented on #6
@nat-brit @kkrupovich
Закрыл итерацию. На выходе:

- проведена очная встреча с @kkrupovich, в ходе которой мы разобрали появившиеся вопросы по требованиям к прототипу, а также разобрались с учетками игрового направления
- выполнен инструктаж новых сотрудников по схеме работы, операциям в блокчейне. Заведены необходимые учетки, решены орг. вопросы.
- проведено вступительное собрание с новыми сотруд

[2018-02-02 13:02] #6 closed, assigned to Arteg0r

[2018-02-02 21:15] cptn-solo commented on #6
@Arteg0r
BLOCK #24028366

CREATE PROPOSAL |  
-- | --
Review period begin | —
Expiration time | February 2, 2018, 1:42:31 AM
Proposed operations | Transfer 140.00000 UTDEV from utd-architect-game to arteg0r

[2018-02-06 14:38] cartoonka commented on #8
По изначальной идее, обсужденной в четверг, представлен питч документ
(доступен по [ссылке](https://docs.google.com/document/d/1xTEUg3d2MQttTrY6YGm-40yQ_MunlVJbyI0qQX4GBE8/edit?usp=sharing))

- В целом концепция принята
- Уже в докмент добавлены направления и вопросы для дальнейшего улучшения документа
- Внесены несколько комментариев и направлений для изучения

Дальнейшее развитие - насыщение док

[2018-02-06 14:39] pkondrashov-ms commented on #7
Результаты:

1) Подготовлен и обсужден краткий-концепт документ по проекту [Simply SkyWay](https://docs.google.com/document/d/1kQCF308LUfZb98par0pYL1Yq9VkppRVqwHSTVjG9cHE/edit#)

Концепция принята, по результатам обсуждения будут доработки в другой задаче.

2) Подготовлен и обсужден черновик концепта по проекту [Future SkyWay](https://docs.google.com/document/d/1pdLjQHMfRVJNGcGyRHdzZ8QnykKtZmnu5DI

[2018-02-06 18:47] Arteg0r commented on #8
BLOCK #24191680

TRANSFER |
From | utd-gamedesign
To | alexei-postnikov
Quantity | 300.00000 UTDEV

[2018-02-06 18:48] #8 closed, assigned to cartoonka

[2018-02-06 18:52] Arteg0r commented on #7
BLOCK #24191752

TRANSFER |
From | utd-gamedesign
To | pkondr1979
Quantity | 300.00000 UTDEV

[2018-02-06 18:53] #7 closed, assigned to Dvarnrock

[2018-02-07 06:04] pkondrashov-ms opened #9 "Доработка кратких концептов"
@Arteg0r @cartoonka

Данная задача продолжение [предыдущей](https://github.com/u-transnet/Gamedev/issues/7).

В этой итерации:

- Провести обсуждение концептов
- Доработать и финализировать концепты проектов SkyWay: Simply (дать другое рабочее название) и SkyWay: Asteroids (на Алексее)
- Совместная работа над черновиком концепта SkyWay: Cryptoprogressor
- Обсуждение доработанного концепта SkyWay:

[2018-02-07 06:13] pkondrashov-ms commented on #9
Block #24209585
Transfer
From | pkondr1979
To | utd-gamedesign
Quantity | 300.00000 UTDEV.SKILL

[2018-02-07 12:29] cartoonka opened #10 "StarWay: Asteroid Rush - итерация 2 и работа над KryptoProgressorom"
@Arteg0r @Dvarnrock

По итогам обсуждений концепции Asteroid Rush (https://github.com/u-transnet/Gamedev/issues/8)  начал новую итерацию

По итогам итерации будет создано новый документ с более подробным описанием отдельных функциональных блоков игры, их взаимодействием, пользовательскими сценариям и первичное предложение об объемах разработки.

Так же совместно с @Dvarnrock доводим до ума питч по

[2018-02-07 12:35] cartoonka commented on #10
BLOCK #24217233

From | alexei-postnikov
To | utd-gamedesign
Quantity | 300.00000 UTDEV.SKILL
Fee | 0.01890 BTS

[2018-02-12 10:24] pkondrashov-ms commented on #9
Результаты задачи:

Доработан краткий-концепт документ по проекту SkyWay: Cities (бывший Simply SkyWay).

Проведена встреча с Натальей и Петром - по результатам возникли новые идеи по фокусированию проекта и использованию блок-чейн технологий в игре.

Проведен ресерч по концепту SkyWay: Cryptoprogressors - по результатам работы и совместного обсуждения концепт отложен.

@Arteg0r - Можно закрывать.

[2018-02-12 10:38] pkondrashov-ms opened #11 "Доработка питчей отобранных идеи по результатам обсуждений"
@Arteg0r @cartoonka

Продолжение предыдущей [задачи](https://github.com/u-transnet/Gamedev/issues/9)

- Продолжаем доработку отобранных концептов с учетом новых данных.
- Подготовка к предварительному совещанию со смежниками.
- Подготовка списка вопросов по концептам для обсуждения.

В результате появится черновик концепта SkyWay: Cities Mk2.
Сформулием идеи и пополним список вопросов к обсуждению

[2018-02-12 10:45] pkondrashov-ms commented on #11
Block #24358594
From | pkondr1979
To | utd-gamedesign
Quantity | 200.00000 UTDEV.SKILL

[2018-02-12 13:08] cartoonka commented on #10
Иетарция завершена не совсем как ожидалось, по результатам обсуждений решено эволюционировать в совместную концепцию с предложением от жены Паши, посмотреть можно по [этой ссылке](https://docs.google.com/document/d/1eIvwhZqnrY0YmYYj8rpTgPreAbwquhtqWrcgqN0EDKY/edit?usp=sharing)

Итерация закрыта и перетекла в следующую. @Arteg0r

[2018-02-12 13:12] cartoonka opened #12 "StarWay: Asteroid Rush with coop mode - итерация 3 и работа над возможными питчами."
@Arteg0r @Dvarnrock В продолжении работы над Asteroid Rush и задачи [номер 10](https://github.com/u-transnet/Gamedev/issues/10)  решено объединить концепцию AsteroidRush с концепцией про более миролюбивую игру по мотивам [вот этого документа](https://docs.google.com/document/d/1eIvwhZqnrY0YmYYj8rpTgPreAbwquhtqWrcgqN0EDKY/edit)

На выходе ожидается объединенный документ с описанием развития как в б

[2018-02-12 13:15] cartoonka commented on #12
BLOCK #24361617
From | alexei-postnikov
To | utd-gamedesign
Quantity | 200.00000 UTDEV.SKILL

[2018-02-12 19:01] cptn-solo commented on #12
@cartoonka @Dvarnrock это "тот самый документ", фидбэк от внешних участников проекта? ;)

[2018-02-12 19:09] cartoonka commented on #12
насколько я знаю - да :)

[2018-02-12 19:25] Arteg0r commented on #9
BLOCK #24368902

TRANSFER |  
-- | --
From | utd-gamedesign
To | pkondr1979
Quantity | 300.00000 UTDEV

@Dvarnrock, cпасибо!

[2018-02-12 19:26] #9 closed, assigned to Arteg0r

[2018-02-12 19:27] Arteg0r commented on #10
BLOCK #24368931

TRANSFER |  
-- | --
From | utd-gamedesign
To | alexei-postnikov
Quantity | 300.00000 UTDEV

@cartoonka, спасибо!

[2018-02-12 19:27] #10 closed, assigned to Arteg0r

[2018-02-13 14:35] pkondrashov-ms commented on #11
В пятницу 9.02 провели две встречи (одну не по плану), на которых обговорили концепт CryptoProgressor. В результате итерации концепт отправился на полку, как слишком сложная идея для реализации, а также как не слишком перспективная с точки зрения разработки геймплея.

Отложенный концепт [тут](https://docs.google.com/document/d/1pdLjQHMfRVJNGcGyRHdzZ8QnykKtZmnu5DIU0HLWRpQ/edit).

В понедельник 12.0

[2018-02-13 14:41] pkondrashov-ms opened #13 "Работа над концептом SkyWay: Pioneers + другие текущие задачи (в комментариях)"
@Arteg0r @cartoonka

Предыдущая [задача](https://github.com/u-transnet/Gamedev/issues/11).

В данной итерации ведется работа над концептами SkyWay: Cities Mk2 и SkyWay: Pioneers (craft survival game).

А также по мере возникновения: встречи со смежниками, брейнштормы, обсуждения черновиков и новых концепций.

В результате будет принято решение по концепту SkyWay: Cities Mk2
Появится представление

[2018-02-13 14:47] pkondrashov-ms commented on #13
Block #24392115
Transfer |  
From | pkondr1979
To | utd-gamedesign
Quantity | 400.00000 UTDEV.SKILL

[2018-02-14 14:17] cartoonka commented on #12
Итерация плавно перетекает в следующую, так как по результатам общение с Костей и Наташей появились новые идеи и мысли какие и как механики описать и итмсплементировать.

Данную итерацию закрываю без ссылки на документ, так как сейчас документ в разобранном виде.

@Arteg0r

[2018-02-14 14:21] cartoonka opened #14 "StarWay: Asteroid Rush with coop mode - итерация 4 и работа над новым питчем SkyWay Planets"
@Arteg0r @Dvarnrock Продолжение работы над концептом AsteroidRush как следствие задачи (https://github.com/u-transnet/Gamedev/issues/12) и по итогам общения с Костей и Наташей 13 февраля.

- Навыходе ожидается расширенный концепт документ с кооперативным режимом и боевым режимом и идеями по имплементации токенов в разные модули игры.

Вторая часть работы - создание питча SkyWay Planets, появившего

[2018-02-14 14:25] cartoonka commented on #14
BLOCK #24420413
TRANSFER |  
From | alexei-postnikov
To | utd-gamedesign
Quantity | 400.00000 UTDEV.SKILL

[2018-02-14 20:25] Arteg0r commented on #11
BLOCK #24427570

TRANSFER |  
-- | --
From | utd-gamedesign
To | pkondr1979
Quantity | 200.00000 UTDEV

Спасибо, @Dvarnrock !

[2018-02-14 20:25] #11 closed, assigned to Arteg0r

[2018-02-14 20:28] Arteg0r commented on #12
BLOCK #24427654

TRANSFER |  
-- | --
From | utd-gamedesign
To | alexei-postnikov
Quantity | 200.00000 UTDEV

Спасибо, @cartoonka !

[2018-02-14 20:28] #12 closed, assigned to Arteg0r

[2018-02-14 20:46] cptn-solo commented on #13
@Arteg0r @Dvarnrock @cartoonka парни, спасибо за репозиторий. Очень грамотно раскладываете задачи и хорошо показываете ход работы.

[2018-02-14 21:06] cptn-solo commented on #10
@cartoonka @Arteg0r @Dvarnrock @alecvert @nat-brit @Dima-Iron друзья, не могу не процитировать, это **просто прекрасно** :

	И этот путь – покорение космического пространства.
	Вся планета, как единый живой организм, поставила перед собой глобальную цель – построить на орбите между Землей и Марсом космическую станцию, целый новый дом, откуда уже в недалеком будущем в разные концы вселенной отправя

[2018-02-19 06:34] pkondrashov-ms commented on #13
В результате:

1) Концепцию Cities Mk2 после обсуждения отложили на полку - не влезает основная идея развития сети SkyNet и Transnet в мобильный геймплей на 15 минут за прохождение.

Концепт развиваться не будет, почитать можно тут:
https://docs.google.com/document/d/1K1J0giDMHHYFjpNrwP8tHI4pmpAIsX5l83wqqHhZdDU/edit

2) Краткий концепт SkyWay: Pioneers прошел обсуждение, принят и направлен в дальн

[2018-02-19 09:12] cptn-solo commented on #13
Концепт Pioneers поддерживаю, дадите доступ к доку - смогу в паре мест оставить фитбэк, если это уместно - основное - лучше не использовать термин Share - во-первых он дискредитирован, во-вторых - экономика будущего, какой ее видит блокчейн-сообщество (как минимум в моем лице) вся об этом, о разделяемом доступе ко всему, поскольку всё есть общий продукт и процесс - а значит это одно из «подразумев

[2018-02-19 10:38] Arteg0r commented on #13
@kkrupovich Выдал доступ

[2018-02-19 12:46] pkondrashov-ms opened #15 "Расширенный концепт SkyWay: Pioneers"
@Arteg0r @cartoonka

Предыдущая [задача](https://github.com/u-transnet/Gamedev/issues/13).

В данной итерации:
1) Разработка расширенного концепта проекта SkyWay: Pioneers, включающего в себя разделы по CoreLoop и "15 минут геймплея",
2) Созвоны по SkyWay: Planets + Asteroids, созвоны со смежниками, the last брейншторм.

Ожидаемые результаты: Расширенный концепт SkyWay: Pioneers.
Время на задачу:

[2018-02-19 12:57] pkondrashov-ms commented on #15
Block #24561520
Transfer |  
From | pkondr1979
To | utd-gamedesign
Quantity | 400.00000 UTDEV.SKILL

[2018-02-20 07:00] Arteg0r commented on #13
BLOCK #24582761

TRANSFER |  
-- | --
From | utd-gamedesign
To | pkondr1979
Quantity | 400.00000 UTDEV

@Dvarnrock Спасибо!

[2018-02-20 07:00] #13 closed, assigned to Arteg0r

[2018-02-20 12:55] cartoonka commented on #14
Итерация плавно перетекла в следующую, попутно возникшие вопросы и проблемы, которые слегка задерживают появление нормального концептдока

Asteroid Rush:

- одна из главных проблем, это понимание какой геймплея сделать ключевым для "мирной" добычи полезных ископаемых. По результатам брейншторма 19-02-2018 выбрано 4 гейммеханики для проверки:

1. Механика minesweaper (Сапёр)
2. Механика три-в-ряд (

[2018-02-20 13:09] cartoonka opened #16 "StarWay: Asteroid Rush with coop mode - итерация 5 и работа над примерами геймплея для SkyWay Planets"
@Arteg0r @Dvarnrock Продолжение развития концепта Asteroid Rush и развитие питча SkyWay Planets в продолжение итерации (https://github.com/u-transnet/Gamedev/issues/14)

**Asteroid Rush**

В данной итерации запланировано прописывание общей канвы сюжета и клчевые этапов игры, задачи которые игрок решает в каждом этапе игры, зачем и почему так сделано

на выходе - борда в рилтаймбор пополнится общим

[2018-02-20 13:13] cartoonka commented on #16
BLOCK #24590186
TRANSFER |  
From | alexei-postnikov
To | utd-gamedesign
Quantity | 400.00000 UTDEV.SKILL

[2018-02-21 01:19] cptn-solo commented on #14
@cartoonka на самом деле мы и не преследуем цели построения законченной игры - это открытый код, сообщество может скоординировать такой проект, которого заслуживает ;)

[2018-02-21 10:06] Arteg0r commented on #14
BLOCK #24596227

TRANSFER |  
-- | --
From | utd-gamedesign
To | alexei-postnikov
Quantity | 400.00000 UTDEV

Спасибо!

[2018-02-21 10:06] #14 closed, assigned to Arteg0r

[2018-02-26 10:53] pkondrashov-ms commented on #15
По результатам итерации:

1) [Тут](https://realtimeboard.com/app/board/o9J_kzqgWFM=/)  появились Core Loop геймплея и экономики проекта SkyWay: Pioneers
2) В ходе переключения задач появилось небольшое видение мини-игры для проекта Asteroids ([вот один из вариантов](https://docs.google.com/document/d/1Q3ZXdwa7Pqz8nfdytS83mqCo4NexOH3Lah2zgeZpdY8/edit))
3) Провели рабочее обсуждение проекта Planets,

[2018-02-26 10:58] pkondrashov-ms opened #17 "Финализация питчей"
@Arteg0r @cartoonka

Предыдущая [задача](https://github.com/u-transnet/Gamedev/issues/15).

По результатам данной итерации:
1. Написана глава "1 час геймплея" для проекта SkyWay: Pioneers.
2. Предварительный сценарий 2-й кампании для Planets.
2. Обсуждены и утверждены финальные питчы SkyWay: Asteroid Rush, Pioneers и Planets

Срок: 26.02-1.03

[2018-02-26 11:06] pkondrashov-ms commented on #17
Block #24759921
From | pkondr1979
To | utd-gamedesign
Quantity | 400.00000 UTDEV.SKILL

[2018-02-27 10:35] Arteg0r commented on #15
BLOCK #24788020

TRANSFER |  
-- | --
From | utd-gamedesign
To | pkondr1979
Quantity | 400.00000 UTDEV

@Dvarnrock Спасибо!

[2018-02-27 11:25] #15 closed, assigned to Arteg0r

[2018-02-27 16:48] cartoonka commented on #16
Итерация завершилась на стадии обсуждения общей структуры движения игрока по "истории игры" и обсуждением какие мини игры использовать в разных ситуациях, Результаты можно смотреть на борде в realtimeboard.
@Arteg0r задачу можно закрывать.

[2018-02-27 16:53] cartoonka opened #18 "StarWay: Asteroid Rush with coop mode - итерация 6, фокус над поиском решения для коммуникаций"
@Arteg0r @Dvarnrock
После предыдущей итерации (https://github.com/u-transnet/Gamedev/issues/16) взял дополнительное время чтобы проанализировать коммуникации внутри игры между игроками и разбавления общей немного сухой механики игры чем-то более новым и современным, позволяющим выстраивать интересные социальные и коммуникационные связи.

Так как идёт фокус на подготовке к последнему этапу обсужден

[2018-02-27 16:58] cartoonka commented on #18
BLOCK #24795664

TRANSFER |  
-- | --
From | alexei-postnikov
To | utd-gamedesign
Quantity | 400.00000 UTDEV.SKILL

[2018-02-28 12:46] pkondrashov-ms commented on #17
@Arteg0r

Внезапна! После совещания 28.02 решено создать питч по новому AR проекту! )

[2018-03-01 08:39] Arteg0r commented on #16
BLOCK #24820793

TRANSFER |  
-- | --
From | utd-gamedesign
To | alexei-postnikov
Quantity | 400.00000 UTDEV

[2018-03-01 08:40] #16 closed, assigned to Arteg0r

[2018-03-05 07:07] pkondrashov-ms commented on #17
По результатам:
Глава "Час геймплея"для SkyWay Pioneers [тут](https://docs.google.com/document/d/1VgbktFZemuXWkKYAef3Zk1CmT2OnBPxugm1ABOwVCQI/edit).

Вместо предварительного сценария появился рабочий черновик питча новой идеи [SkyWay Quantum Pioneers](https://docs.google.com/document/d/13RVhQvV2kJXKcIuNSG_dAOkUffFrmGlr-qYR8Y-7-GU/edit#heading=h.nkuoyym8zf2f) (далее просто Pioneers)

Проведены две

[2018-03-05 07:11] pkondrashov-ms opened #19 "Работа над презентацией нового концепта (AR Pioneers)"
@Arteg0r @cartoonka

Предыдущая итерация[ тут](https://github.com/u-transnet/Gamedev/issues/17).

За два дня 2.03 -- 5.03 (по полной ставке):
1) Доработка питч-документа по проекту AR Pioneers.
2) Подготовка презентации проекта AR Pioneers.
3) Планирование спринта
4) Встречи со смежниками.

[2018-03-05 07:58] pkondrashov-ms commented on #19
Block #24956472
From | pkondr1979
To | utd-gamedesign
Quantity | 250.00000 UTDEV.SKILL

[2018-03-05 12:07] cartoonka commented on #18
По итогам постоянных совершенствований и уточнений концепции выявлено центральное направление, обоснование и смысл концепции.

@Arteg0r итерацию можно закрывать.

[2018-03-05 12:10] cartoonka opened #20 "StarWay: Asteroid Rush with coop mode - итерация 7, финализация концепта с учетом всех обсуждений и нововведений"
@Arteg0r @Dvarnrock
По итогам обсуждений в последние две итерации концепция Asteroid Rush слегка изменилась в более миролюбивую и кооперационную сторону. По итогам предыдущей итерации (https://github.com/u-transnet/Gamedev/issues/18) документ финализируется и будет готов к финальному обсуждению перед началом подготовки презентации

Длительность итерации с 1 по 6 марта включительно, рабочих дней -

[2018-03-05 12:12] cartoonka commented on #20
BLOCK #24961535
TRANSFER |  
From | alexei-postnikov
To | utd-gamedesign
Quantity | 500.00000 UTDEV.SKILL

[2018-03-06 04:48] Arteg0r commented on #18
BLOCK #24966133

TRANSFER |  
-- | --
From | utd-gamedesign
To | alexei-postnikov
Quantity | 400.00000 UTDEV

Спасибо!

[2018-03-06 04:48] #18 closed, assigned to Arteg0r

[2018-03-06 04:54] Arteg0r commented on #17
BLOCK #24981494

TRANSFER |  
-- | --
From | utd-gamedesign
To | pkondr1979
Quantity | 400.00000 UTDEV

@Dvarnrock Спасибо!

[2018-03-06 04:54] #17 closed, assigned to Arteg0r

[2018-03-06 12:58] pkondrashov-ms commented on #19
По результатам:
1. [Питч](https://docs.google.com/document/d/13RVhQvV2kJXKcIuNSG_dAOkUffFrmGlr-qYR8Y-7-GU/edit#)
2. Презентация в процессе доработки. Не выкладываю до офиц. показа
3. Done
4. Done - из встречи с Костей "возгорелось пламя" )

@Arteg0r
Задачу закрываю.

[2018-03-06 13:03] pkondrashov-ms opened #21 "AR Pioneers - финальная презентация + обсуждения, концепт системы bitKarma"
@Arteg0r @cartoonka

Предыдущая итерация [тут](https://github.com/u-transnet/Gamedev/issues/19).

В этой серии:
1. Доработка презентации AR Pionees в финальный вид (+ слайды про социальные взаимодействия и блокчейн).
2. Обсуждение концептов и презентаций Asteroid Rush и Pioneers
3. Питч системы bitKarma (совместно с Алексеем).

6.03-7.03

[2018-03-06 13:10] pkondrashov-ms commented on #21
Block #24991380
From | pkondr1979
To | utd-gamedesign
Quantity | 250.00000 UTDEV.SKILL

[2018-03-07 08:26] Arteg0r commented on #19
BLOCK #25014385

TRANSFER |  
-- | --
From | utd-gamedesign
To | pkondr1979
Quantity | 250.00000 UTDEV

@Dvarnrock, спасибо!

[2018-03-07 08:26] #19 closed, assigned to Arteg0r

[2018-03-12 13:54] pkondrashov-ms commented on #21
Результаты следующие:
1) Представил в тестовом виде презентацию AR Pioneers - обсудили и отправили на доработку по фидбеку (в след. задаче). Также приняли решение перевести презентации под Google Презентации.
2) Питч системы bitKarma писал пока один - отправлен на доработку на след неделю.

@Arteg0r
Закрываем

[2018-03-12 13:58] pkondrashov-ms opened #22 "Доработка презентации AR Pioneer по результатам тестового показа, питч системы bitKarma, презентация проектов"
@Arteg0r @cartoonka

Предыдущая [задача](https://github.com/u-transnet/Gamedev/issues/21).

Мы пилили-пилили и наконец-то выпилили!

После праздников
с 12.03 до 14.03 включительно:
1) Подготовка финальной презентации проекта AR Pioneers для показа в среду (с переносом ее под Google Презентации)
2) Концепт системы bitKarma.
3) Обсуждение презентации (и концепции) Asteroid Rush.
4) Представление про

[2018-03-12 14:02] pkondrashov-ms commented on #22
Block #25164711
From | pkondr1979
To | utd-gamedesign
Quantity | 375.00000 UTDEV.SKILL

[2018-03-14 08:46] Arteg0r commented on #21
BLOCK #25215861

TRANSFER |  
-- | --
From | utd-gamedesign
To | pkondr1979
Quantity | 250.00000 UTDEV

@Dvarnrock Спасибо!

[2018-03-14 08:46] #21 closed, assigned to Arteg0r

[2018-03-16 11:23] cartoonka commented on #20
@Arteg0r задачу можно закрывать

[2018-03-16 11:27] cartoonka opened #23 "StarWay: Asteroid Rush with coop mode - итерация 8, вырабокта стратегии презентации"
@Arteg0r @Dvarnrock
По результатам работы над концептом Asteroid Rush (https://github.com/u-transnet/Gamedev/issues/20) переходим к разработке презентации.

В первую очередь хочется найти манеру подачи которая поможет одновременно рассказать ключевые особенности проекта и при этом будет понятна профессионалам в других сверах бизнес без обязательного бэкграунда в геймдеве.

Длительность итерации: 7

[2018-03-16 11:31] cartoonka commented on #23
BLOCK #25276526

TRANSFER |  
-- | --
From | alexei-postnikov
To | utd-gamedesign
Quantity | 500.00000 UTDEV.SKILL

[2018-03-16 11:31] cartoonka commented on #23
@Arteg0r по результатам мучительной вырабокти концепции презентации был найден правильный подход, задачу можно закрывать.

[2018-03-16 11:38] cartoonka opened #24 "StarWay: Asteroid Rush with coop mode - итерация 9, финализации презентации по новой концептуальной схеме"
@Arteg0r @Dvarnrock
По результатам поиска правильной концепции презентации (https://github.com/u-transnet/Gamedev/issues/23) финализируем презентацию для сообщества UT

На выходе будет 10-15 страничная презентация в популярной манере рассказывающая о нашем проекте, для кого мы и почему его делаем, и зачем нам самим это нужно.

Длительность итерации: 15-20 марта, рабочих дней - 4.

[2018-03-16 11:40] cartoonka commented on #24
BLOCK #25276720

TRANSFER |  
-- | --
From | alexei-postnikov
To | utd-gamedesign
Quantity | 500.00000 UTDEV.SKILL

[2018-03-19 06:42] pkondrashov-ms commented on #22
1) Финальная презентация готова - до самой презентации ссылку сюда не выкладываю.
2) Концепт bitKarma в работе - есть черновик: https://docs.google.com/document/d/1EAQED8ZIg7yOUxKrRntPXQrAXrIi80HUpgkqlWVT9ws/edit
3) Обсуждение Rush и представление концептов перенесли на 20.03

@Arteg0r
Закрываем, насколько понимаю..

[2018-03-19 06:47] pkondrashov-ms opened #25 "Финальный этап отбора идей перед презентацией."
@Arteg0r @cartoonka

Предыдущая[ задача](https://github.com/u-transnet/Gamedev/issues/22).

В этом выпуске:

1. Обновление и доработка концепта AR Pioneers.
2. Создание презентации концепции bitRep.
3. Обсуждение Asteroid Rush.
4. Представление проектов.

Сроки: с 15.03 по 20.03

[2018-03-21 10:14] Arteg0r commented on #20
BLOCK #25284390

TRANSFER |  
-- | --
From | utd-gamedesign
To | alexei-postnikov
Quantity | 500.00000 UTDEV

[2018-03-21 10:14] #20 closed, assigned to Arteg0r

[2018-03-21 10:17] Arteg0r commented on #23
BLOCK #25284412

TRANSFER |  
-- | --
From | utd-gamedesign
To | alexei-postnikov
Quantity | 500.00000 UTDEV

[2018-03-21 10:17] #23 closed, assigned to Arteg0r

[2018-03-21 10:26] Arteg0r commented on #22
BLOCK #25418779

TRANSFER |  
-- | --
From | utd-gamedesign
To | pkondr1979
Quantity | 375.00000 UTDEV

[2018-03-21 10:26] #22 closed, assigned to Dvarnrock

[2018-03-21 10:27] Arteg0r commented on #22
Спасибо @Dvarnrock

[2018-03-21 10:39] cartoonka commented on #24
@Arteg0r
задачу можно закрывать

[2018-03-21 14:10] cartoonka commented on #24
https://docs.google.com/presentation/d/1UQRaHAuDckiIgAlFruaLnUyAlQRfnIJj5hJl3dioGC8/edit?usp=sharing

[2018-03-21 14:43] Arteg0r commented on #24
BLOCK #25423901

TRANSFER |  
-- | --
From | utd-gamedesign
To | alexei-postnikov
Quantity | 500.00000 UTDEV

@cartoonka Спасибо!

[2018-03-21 14:43] #24 closed, assigned to Arteg0r

[2018-03-22 16:26] cartoonka opened #26 "Симулятор развития города с помощью Transnet/SkyWay - итерация 1"
@Arteg0r @Dvarnrock
По результатам презентации 20 марта и задачи (https://github.com/u-transnet/Gamedev/issues/24), совместно с @Dvarnrock  приступили к разработке дополненной и улучшенной концепции предыдущих концепций Городов и Планеты

В результате будет презентация и план создания проекта, лучше подходящего под обновленные требования стейкхолдеров.

Длительность итерации - с 21 по 26 марта, ра

[2018-03-22 16:31] cartoonka commented on #26
BLOCK #25454739

TRANSFER |  
-- | --
From | alexei-postnikov
To | utd-gamedesign
Quantity | 500.00000 UTDEV.SKILL

[2018-03-22 16:40] pkondrashov-ms opened #27 "Обсуждение результатов презентации, доработка SkyWay: Cities по результатам"
@Arteg0r @cartoonka

Предыдущая [задача](https://github.com/u-transnet/Gamedev/issues/25).

В этой задаче:
1) Обсуждение результатов презентации
2) Доработка концепта по SkyWay: Cities
3) Создание презентации SkyWay: Cities Mk2

Срок 21.03 - 26.03

[2018-03-22 16:44] pkondrashov-ms commented on #25
Готовы:
Презентация AR Pioneers, Презентация битКарма, проведено обсуждение Asteroid Rush и презентация проектов. Было весело )

@Arteg0r
Закрываю

[2018-03-22 16:47] pkondrashov-ms commented on #25
Забыл приложить:
Block #25357045
From | pkondr1979
To | utd-gamedesign
Quantity | 500.00000 UTDEV.SKILL

[2018-03-22 16:53] pkondrashov-ms commented on #27
Block #25455143
From | pkondr1979
To | utd-gamedesign
Quantity | 500.00000 UTDEV.SKILL

[2018-03-23 14:07] cartoonka commented on #26
@Arteg0r @Dvarnrock
по результатам собрания в пятницу, 23-03, договорились что сделаю к понедельнику 2-3 варианта визуализации проекта и как мы это будем делать

[2018-03-26 11:02] Arteg0r commented on #25
BLOCK #25563030

TRANSFER |  
-- | --
From | utd-gamedesign
To | pkondr1979
Quantity | 500.00000 UTDEV

@Dvarnrock Спасибо!

[2018-03-26 11:02] #25 closed, assigned to Arteg0r

[2018-03-27 15:37] cartoonka commented on #26
@Arteg0r
по результатам обсуждения во вторник, 27 марта, задачу можно закрывать.

[2018-03-27 17:14] cartoonka opened #28 "Симулятор построения сети TransNet в раззных уголках планеты - итерация 1"
@Arteg0r @Dvarnrock
По результатам обновления требования и пожеланий от заказчика слегка меняется концепция.
В данной итерации ведем диалог с заказчиком об уточнении требований и вариантов визуализации и работы симулятора.

На выходе должен получиться финальный вид презентации обновленной версии симулятора и понимание какими средствами и инструментами этого можно добиться.

Длительность итерации -

[2018-03-28 08:39] Arteg0r commented on #28
@cartoonka Скилл нужно отправить

[2018-03-28 08:49] Arteg0r commented on #26
BLOCK #25617653

TRANSFER |  
-- | --
From | utd-gamedesign
To | alexei-postnikov
Quantity | 500.00000 UTDEV

@cartoonka Спасибо

[2018-03-28 08:50] #26 closed, assigned to Arteg0r

[2018-03-28 20:31] cartoonka commented on #28
сделаю

[2018-03-30 09:48] pkondrashov-ms commented on #27
Черновик презентации готов, обсуждение провели.

@Arteg0r
Закрываем

[2018-03-30 09:51] pkondrashov-ms opened #29 "Transnet: World - Обсуждение концепции, доработка презентации, список требований"
@Arteg0r @cartoonka

Предыдущая [задача](https://github.com/u-transnet/Gamedev/issues/27).

На этой неделе:

- Обсуждаем концепцию развития проекта SkyWay: Cities в рамках выставленных требований
- Пишем список требований и предварительный список фич
- Доработка презентации
- Поиск технических решений

Рабочие дни 27.03 - 30.03
28.03 с нагрузкой 50% (с округлением в > по скиллу)

[2018-03-30 09:55] pkondrashov-ms commented on #29
Block #25676497
From | pkondr1979
To | utd-gamedesign
Quantity | 440.00000 UTDEV.SKILL

[2018-04-03 08:33] Arteg0r commented on #27
BLOCK #25789675

TRANSFER |  
-- | --
From | utd-gamedesign
To | pkondr1979
Quantity | 500.00000 UTDEV

@Dvarnrock Спасибо!

[2018-04-03 08:33] #27 closed, assigned to Arteg0r

[2018-04-03 12:05] cartoonka commented on #28
BLOCK #25793906

TRANSFER |  
-- | --
From | alexei-postnikov
To | utd-gamedesign
Quantity | 500.00000 UTDEV.SKILL

[2018-04-03 12:05] cartoonka commented on #28
@Arteg0r
презентацию закончили совместными усилиями, задачу можно закрывать

[2018-04-05 10:05] Arteg0r commented on #28
BLOCK #25848590

TRANSFER |  
-- | --
From | utd-gamedesign
To | alexei-postnikov
Quantity | 500.00000 UTDEV

@cartoonka Спасибо!

[2018-04-05 10:05] #28 closed, assigned to Arteg0r

[2018-04-05 11:51] pkondrashov-ms commented on #29
Концепция готова.
Список требований и предварительный список фич:
https://u-trans.atlassian.net/wiki/spaces/TG/pages/116948997/
Презентация доработана до версии Mk2.

Закрываем.

[2018-04-05 12:42] Arteg0r commented on #29
BLOCK #25851745

TRANSFER |  
-- | --
From | utd-gamedesign
To | pkondr1979
Quantity | 440.00000 UTDEV

@Dvarnrock Спасибо!

[2018-04-05 12:42] #29 closed, assigned to Arteg0r